/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilo do conteúdo principal */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    position: relative;
    background-color: #f9f9f9;
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.product img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333; /* Cor do texto do título do produto */
}

.product p {
    margin-bottom: 10px;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product button:hover {
    background-color: #555;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo do fundo */
body {
    background-image: url('img/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}
/* Setinha */
.back-link {
    position: fixed;
    top: 32px; 
    left: 45px; 
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.arrow-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}